{% extends 'base_content.html' %}
{% block content %}

    <div class="container">
       <div class = "row">
          <div class = "col-12">
            <h1>Tournament Creation</h1>
            <p>Deadline format (Year-Month-Day Hours:Minutes:Seconds) e.g. 2021-12-12 08:30:00</p>   
        <form action="{% url 'create_tournament' club_id=club_id user_id=user_id %}" method="post">
            {% csrf_token %}
            {% include 'partials/bootstrap_form.html' with form=form %}
        <input type= "submit" value="Create Tournament" class = "btn btn-primary">
        </form>
          </div>
       </div>
    </div>
  
{% endblock %}