{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  {% if round_of_16_matches or quarter_final_matches or semi_final_matches or final_match %}
    <h2>Elimination Rounds</h2>
    <div class="row">
      {% if round_of_16_matches %}
        <div class="col">
          <h4>Round-of-16</h4>
          {% include 'partials/elimination_round_match_schedule_table.html' with elim_round_matches=round_of_16_matches %}
        </div>
      {% endif %}
      {% if quarter_final_matches %}
        <div class="col">
          <h4>Quarter-finals</h4>
          {% include 'partials/elimination_round_match_schedule_table.html' with elim_round_matches=quarter_final_matches %}
        </div>
      {% endif %}
      {% if semi_final_matches %}
        <div class="col">
          <h4>Semi-finals</h4>
          {% include 'partials/elimination_round_match_schedule_table.html' with elim_round_matches=semi_final_matches %}
        </div>
      {% endif %}
      <div class="col">
        <h4>Final Round</h4>
        {% include 'partials/elimination_round_match_schedule_table.html' with elim_round_matches=final_match %}
      </div>
    </div>
    <br></br>
  {% endif %}

  {% if g32_groups %}
    {% if g96_groups %}
      <h3>Second group stage</h3>
    {% else %}
      <h3>Group stage</h3>
    {% endif %}
    {% for group in g32_groups %}
      {% include 'partials/group_matches_and_points_tables.html' with group=group %}
    {% endfor %}
  {% endif %}

  {% if g96_groups %}
    <h3>First group stage</h3>
    {% for group in g96_groups %}
      {% include 'partials/group_matches_and_points_tables.html' with group=group %}
    {% endfor %}
  {% endif %}

  {% if request.user == tournament.organiser%}
    {% if tournament.current_stage == 'S' %}
        <form action="{% url 'generate_next_matches' club_id=club_id tournament_id=tournament.id%}" method="get">
            <button class="btn btn-primary">Generate next matches</button>
        </form>
    {% elif tournament.current_stage == 'G32' %}
        <form action="{% url 'generate_next_matches' club_id=club_id tournament_id=tournament.id%}" method="get">
            <button class="btn btn-primary">Generate next group stage matches</button>
        </form>
    {% elif tournament.current_stage == 'E' %}
        <form action="{% url 'generate_next_matches' club_id=club_id tournament_id=tournament.id%}" method="get">
            <button class="btn btn-primary">Generate elimination matches</button>
        </form>
    {% endif %}
  {% endif %}

     {% if final_match %}
       {% for match in final_match %}
         {% if match.winner%}
         <div>
           <h3>Tournament winner: {{ match.winner.first_name }} {{ match.winner.last_name }}</h3>
         </div>
         {% endif %}
       {% endfor %}
     {% endif %}

   </div>
{% endblock %}
