{% extends 'base_content.html' %}
{% block content %}

  <style>
  table,th,td{
    border: 1px solid black;
  }
  </style>

  {% if elim_matches %}
    <h3>Elimination Rounds</h3>
    <table>
      <tr>
        <th>Match Number</th>
        <th> Player One </th>
        <th> Player Two </th>
        <th> Results </th>
      </tr>
      {% for match in elim_matches %}
      <tr>
        {% if match.match.player1 or match.match.player2 %}
          <td>{{ match.match.number }}</td>
          <td>{{ match.match.player1.first_name }} {{ match.match.player1.last_name }}</td>
          <td> {{ match.match.player2.first_name }} {{ match.match.player2.last_name }} </td>
          {% if match.winner == None %}
          <td>
            <form action="{% url 'enter_match_results' club_id=club_id tournament_id=tournament.id match_id=match.id %}" method="post">
              {% csrf_token %}
              {% include 'partials/bootstrap_form.html' with form=form %}
              <select name='winner'>
                <option value= "{{match.match.player1.id}}">{{ match.match.player1.first_name }} {{ match.match.player1.last_name }}</option>
                <option value= "{{match.match.player2.id}}">{{ match.match.player2.first_name }} {{ match.match.player2.last_name }}</option>
              </select>
              <input type= "submit" value="Submit Results"/>
            </form>
          </td>
          {%else%}
          <td>{{match.winner.first_name}} {{match.winner.last_name}}</td>
          {% endif%}
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if g32_groups %}
    <h3>Round of 32</h3>
    {% for group in g32_groups %}
      <table>
        <h5>Group Number {{group.number}}</h5>
        <tr>
          <th>Match Number</th>
          <th> Player One </th>
          <th> Player Two </th>
          <th> Results </th>
        </tr>
          {% for match in group.get_group_groupmatches %}
              <tr>
                {% if match.display == True %}
                  <td>{{ match.match.number }}</td>
                  <td>{{ match.match.player1.first_name }} {{ match.match.player1.last_name }}</td>
                  <td> {{ match.match.player2.first_name }} {{ match.match.player2.last_name }} </td>
                  {% if match.winner == None %}
                  <td>
                    <form action="{% url 'enter_match_results' club_id=club_id tournament_id=tournament.id match_id=match.id %}" method="post">
                      {% csrf_token %}
                      {% include 'partials/bootstrap_form.html' with form=form %}
                      <select name='winner'>
                        <option value= "{{match.match.player1.id}}">{{ match.match.player1.first_name }} {{ match.match.player1.last_name }}</option>
                        <option value= "{{match.match.player2.id}}">{{ match.match.player2.first_name }} {{ match.match.player2.last_name }}</option>
                      </select>
                      <input type= "submit" value="Submit Results"/>
                    </form>
                  </td>
                  {%else%}
                  <td>{{match.winner.first_name}} {{match.winner.last_name}}</td>
                  {% endif %}
                {% endif %}
              </tr>
          {% endfor %}
      </table>
      <br></br>
      <table>
        <h5>Group Number {{group.number}}</h5>
        <tr>
          <th> Player </th>
          <th> Total player points </th>
        </tr>
          {% for group_points in group.get_group_grouppoints %}
              <tr>
                <td>{{ group_points.player.first_name }} {{ match.match.player.last_name }}</td>
                <td> {{ group_points.total_group_points }}</td>
              </tr>
          {% endfor %}
      </table>
      <br></br>
    {% endfor %}
  {% endif %}

  {% if request.user == tournament.organiser%}
    {% if tournament.current_stage == 'S' %}
        <form action="{% url 'generate_next_matches' club_id=club_id tournament_id=tournament.id%}" method="get">
            <button class="btn btn-primary">Generate next matches</button>
        </form>
    {% elif tournament.current_stage == 'G32' %}
        <form action="{% url 'generate_next_matches' club_id=club_id tournament_id=tournament.id%}" method="get">
            <button class="btn btn-primary">Generate elimination matches</button>
        </form>
    {% elif tournament.current_stage == 'E' %}
        <form action="{% url 'generate_next_matches' club_id=club_id tournament_id=tournament.id%}" method="get">
            <button class="btn btn-primary">Generate elimination matches</button>
        </form>
    {% endif %}
  {% endif %}
{% endblock %}
