{% extends 'base.html' %}

{% block body %}

<style>

.top-buffer {
     margin-top: 40px;
     margin-left: 25px;
    }

.title-club {
    margin-top: 30px;
    margin-left: 0px;
}

.btn-success{
    margin-left: 62vmax;
}


</style>
    <div class="container">

    <h1 class="title-club">Applicant List </h1>

      {% for applicant in applicants %}
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2">
              <td>{{ user.full_name }}</td>
            </div>
        </div>
        {% endfor %}

{% endblock %}
