
{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Applicant List</h1>
      <table class="table">
        {% for applicant in applicants %}
          <tr>
            <td>{{ applicant.full_name }}</td>
            <td>
            <a href={% url 'approve_member'  applicant_id=applicant.id club_id=club_id %}>
                <button type="button" class="btn btn-success">Approve membership</button>
            </a>
          </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
