{% extends 'base_content.html' %}
{% block content %}

<style>
   .top-buffer {
     margin-top: 30px;
     margin-left: 10px;
     margin-right: 10px;
     margin-bottom: 30px;
   }

   .text {
      margin-left: 15px;
      margin-top: 30px;
   }
 </style>

    <div class="container">
       <div class = "row">
         <div class ="card">
          <div class = "text-center">
             <h1 class="text">Create an account</h1>
             <span class="abt">Already have an account?<a href="{% url 'log_in' %}"> Log In</a></span>
           </div>
             <div class="top-buffer">
        <form action="{% url 'sign_up' %}" method="post">
          {% csrf_token %}
           {% include 'partials/bootstrap_form.html' with form=form %}
        <input type= "submit" value="Sign up" class = "btn btn-primary">
        </form>

            </div>
          </div>
       </div>
    </div>

{% endblock %}
