<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Chess club</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- only show members nav-item if user is a member!!! -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Members</a>
            </li>
        </ul> 
        <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Profile(Put icon??)
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href={% url "profile" user_id=user.id%}>My Profile</a></li>
                    <li><a class="dropdown-item" href={% url "change_password" user_id=user.id %}>Change Password</a></li>
                    </ul>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </div>
</nav>